version: 2.1

orbs:
 gh: circleci/github-cli@2.2.0

jobs:
  
  # Add this job to all workflows
  disable-enable:
    docker:
      - image: 'cimg/node:lts'
    steps:
      - gh/setup
      - run:
          name: create directory
          command: |
            mkdir ./Snocko-GitHub-Action
      - gh/clone:
          dir: ./Snocko-GitHub-Action
          repo: https://github.com/zeabix-cloud-native/Snocko-GitHub-Action.git
      - run:
          name: check file
          command: |
            ls -lah ./Snocko-GitHub-Action 
      - run:
          name: Check provider value
          shell: /bin/bash
          command: |
              export PROVIDERVALUE=$(cat ./Snocko-GitHub-Action/provider.yaml| yq '.provider')
              echo Current Provicer = $PROVIDERVALUE
              if [[ $PROVIDERVALUE == 'circleci' ]]; then
                   echo "Switch context to circle"
                   exit 0
                 else 
                   echo "Switch context to githubactions"
              fi
              exit 99
  # This is example jobs
  release:
    docker:
      - image: cimg/node:lts
    steps:
      - run: exit 1
      - run: npm install
      - run: npm build
      - run: npm publish

workflows:

  release-workflows:
    jobs:

    # Add this job to all workflows
    - disable-enable
#        filters:
#            branches:
#              only:
#              - develop
#              - main
#              - master
#              - release
#              - /hotfix.*/
#        context:
#          - DisableEnable
    - release:
        requires:
          - "disable-enable" # Add this requires jobs to all workflows


# VS Code Extension Version: 1.5.0