on:

  workflow_dispatch:                                                  # Run manaual workflows

env:
  owner: "${{ github.repository_owner }}"                             # Get owner name
  GH_TOKEN: ${{ secrets.GH_CMD }}                                     # Github organization PAT
  
jobs:

  github-actions-status:                                              # Job name "github-actions-status"
    runs-on: ubuntu-latest                                            # OS selection for run
    steps:
      - name: Check out                                               # step name "Check out"
        uses: actions/checkout@v3                                     # checkout repository
      - name: Create root directory                                   # step name "Create root directory"
        run: |                                                        # Run command line
          mkdir github-actions-status
          cd github-actions-status
      - name: Get Github actions workflows status                     # step name "Get Github actions workflows status"
        shell: bash                                                   # Use bash shell
        run: |                                                        # Run command line
          file="repo.txt"
          while read -r line; do
              cd $line
              gh api \
              -H "Accept: application/vnd.github+json" \
              /repos/$owner/$line/actions/workflows | jq '.workflows | .[].id' >> $line-StatusId.txt
              echo "Get $line workflows status"
              file=$line-StatusId.txt
              while read -r STATUS; do
                  echo ID=$(gh api \
                  -H "Accept: application/vnd.github+json" \
                   /repos/$owner/$line/actions/workflows/$STATUS | jq '.id') 
                  echo NAME=$(gh api \
                  -H "Accept: application/vnd.github+json" \
                   /repos/$owner/$line/actions/workflows/$STATUS | jq '.name')
                  echo STATUS=$(gh api \
                  -H "Accept: application/vnd.github+json" \
                   /repos/$owner/$line/actions/workflows/$STATUS | jq '.state')
                   echo "----------------------------------------------------------------"
              done <$file
              echo "#################################################################"
              cd .. 
          done <$file
